.browser-toolbar 
{
  @media not -moz-pref("sidebar.verticalTabs") 
  {
    &:not(.browser-titlebar) 
	{	  
	
		border-left:  1px solid rgba(26, 26, 26, 0.4) !important;
		border-right: 1px solid rgba(26, 26, 26, 0.4) !important;
		background: linear-gradient(0deg,rgba(229, 229, 229, 1) 0%, rgba(242, 242, 242, 1) 100%);
    }
  }
}

 

 
.bookmark-item[container] .toolbarbutton-icon,
.menu-iconic[container] > .menu-iconic-left > .menu-iconic-icon 
{
  background-image: url("images/bookmarksFolder.png") !important;
  list-style-image: none !important;
  background-position-x: -16px !important;
}

#PersonalToolbar toolbarbutton.bookmark-item:not(.subviewbutton, [disabled=true], [open]):hover 
{
  background-color: transparent !important;
}

#PersonalToolbar toolbarbutton.bookmark-item:hover:active:not(.subviewbutton, [disabled="true"]),
#PersonalToolbar toolbarbutton.bookmark-item[open="true"]
{
  background-color: transparent !important;
}







#PersonalToolbar 
{
	min-height: 26px !important;
	
	  :root[sessionrestored] &:not(.instant) {
    transition: min-height 170ms ease-out, max-height 170ms ease-out, var(--ext-theme-background-transition);
    padding-top: 2px !important;
  }
}






 

toolbarbutton.bookmark-item:not(.subviewbutton) 
{
	margin-top: 0px !important;
	padding: var(--bookmark-block-padding) 4px;
}


#PlacesToolbar .bookmark-item:not(menu):not(menuitem):not([disabled=true]) > .toolbarbutton-menubutton-button[open] + .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#PlacesToolbar .bookmark-item:not(menu):not(menuitem):not([disabled=true]):is(:hover,[open]) > .toolbarbutton-menubutton-button ,
#PlacesToolbar .bookmark-item:not(menu):not(menuitem):not([disabled=true]):is(:hover,[open]) > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#PlacesToolbar .bookmark-item:not(menu):not(menuitem):not([disabled=true]):not([checked]):not([open]):not(:active):hover,
#PlacesToolbar .bookmark-item:not(menu):not(menuitem):not([buttonover]):not([open]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled]) > .dropmarker-icon 
{

  background: transparent 													 !important;
  background-color: transparent 											 !important;
  background-image:
	linear-gradient(to right,  rgba(255,255,255,0.4) 0px, transparent 0px),
	linear-gradient(to left,   rgba(255,255,255,0.4) 0px, transparent 0px),
	linear-gradient(to top,    rgba(255,255,255,0.3) 0px, transparent 0px),
	linear-gradient(to bottom, rgba(138, 202, 255,0.2), rgba(138, 202, 255,0.2)) !important;
  border-radius: 1px 							 							 !important;
  outline: 		 1px solid rgba(124,163,206,0.4) 							 !important;
  transition: background-color .3s ease-in,
			  border-color .2s ease-in,
			  box-shadow .2s ease-in 										 !important;
   
}

#PlacesToolbar toolbarbutton[type="menu"][open]:not([disabled]),
#PlacesToolbar toolbarbutton[type="menu-button"]:not([open]):hover:not([disabled]):active ,
#PlacesToolbar .bookmark-item:not(menu):not(menuitem) > .toolbarbutton-menubutton-button:not([disabled=true]):is(:hover:active,:active, [open]),
#PlacesToolbar .bookmark-item:not(menu):not(menuitem)[open] > .toolbarbutton-menubutton-dropmarker:not([disabled=true]) > .dropmarker-icon,
#PlacesToolbar .bookmark-item:not(menu):not(menuitem):not([disabled=true]):is([open],[checked],:hover:active,:active) {
  background: transparent !important;
  background-color: transparent !important;
  background-image:
	linear-gradient(to right, rgba(255,255,255,0.4) 0px, transparent 0px),
	linear-gradient(to left, rgba(255,255,255,0.4) 0px, transparent 0px),
	linear-gradient(to top, rgba(255,255,255,0.3) 0px, transparent 0px),
	linear-gradient(to bottom, rgba(138, 202, 255,0.4), rgba(138, 202, 255,0.41)) !important;
  border-radius: 1px 														 !important;
  outline: 1px solid rgba(124,163,206,0.99) 								 !important;
  transition: background-color .3s ease-in,
			  border-color .2s ease-in,
			  box-shadow .2s ease-in !important;

}

/* deep Fx 109 bs and nonsense override */
#PlacesToolbar :is(toolbarbutton.subviewbutton,.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]),[overflowedItem=true]) > toolbarbutton):not([disabled]):hover {
  background-color: unset !important; 
}




#alltabs-button {
	#TabsToolbar &

{
	width: 16px !important;
	height: 16px !important;
	list-style-image: url("images/dropdown.svg") !important;
	margin-top: 20px !important;
	margin-right: 6px !important;
}

}





/* The fucking VPN Button needs to have that shit go-button.unified alongside to work... */
#nav-bar[mode="icons"] .toolbarbutton-1:is(#ipprotection-button, #go-button.unified) {
	min-width: 45px !important;
	width: 60px !important;
}





.downloadMainArea {
	padding-block: var(--space-small);
	padding-inline-start: var(--space-xsmall);
	border-radius: var(--border-radius-small);
	background-color: #f9f9f9 !important;
}





.bookmark-item[container] > .toolbarbutton-icon,
.menu-iconic.bookmark-item > .menu-icon {
	display: none !important;
}


/* This makes the folder change to the old icon... Took way to long to find this fucking thing */
/**/
.bookmark-item[container]::before {
	content: url("images/bookmarksFolder.png") !important;
	font-size: 14px !important;
	margin: 0px 2px 0px -3px !important;
}


.bookmark-item {
	list-style-image: url("images/folder.svg") !important;
	--menuitem-icon: url("images/folder.svg") !important;
}


#downloadsListBox {
	background-color: #f2f2f2 !important;
}

.downloadMainArea {
	background-color: #f2f2f2 !important;
	&:hover

{
	background-color: #90c8f6 !important;
}

}

:root {
	--button-background-color-ghost-hover: #90c8f6 !important;
}

.downloadButton > .button-box > .button-icon {
	width: 20px !important;
	height: 20px !important;
	margin: 1px;
	-moz-context-properties: fill;
	fill: #000fff00 !important;
	background-image: url("images/folder.svg");
	background-size: cover;
	--button-background-color-hover: #90c8f6 !important;
}







#default-favicon {
	list-style-image: url("images/folder.svg") !important;
	background-image: url("images/folder.svg");
}



.default-favicon {
	list-style-image: url("images/folder.svg") !important;
	background-image: url("images/folder.svg");
}
 
 
 
 
:is(#TabsToolbar, #vertical-tabs) toolbarbutton .toolbarbutton-badge-stack, :is(#TabsToolbar, #vertical-tabs) > toolbarpaletteitem, :is(#TabsToolbar, #vertical-tabs) > toolbarbutton {
  min-height: unset !important;
  padding: unset !important;
  margin: 0 2px !important;
    margin-top: 0px;
    margin-right: 2px;
  margin-top: -24px !important;
  margin-right: 10px !important;
}











