
/*===============================================*/
/* Split Tabs Fix                                */
/*===============================================*/
#tabbrowser-tabs[orient="horizontal"] tab-split-view-wrapper {
    margin-block: 0 !important;
    margin-inline: 0;
    align-items: flex-end;
    flex: 100 100;
    padding: 0 !important;
    min-width: calc(var(--tab-min-width-pref, var(--tab-min-width)) * 2 + 6px);
    max-width: var(--tab-max-width);
    transition: var(--tab-width-transition);
}


#tabbrowser-tabs tab-split-view-wrapper {
    & .tabbrowser-tab

{
    & .tab-content

{
    padding-inline: var(--space-medium);
    background-position-y: -0px !important;
    background-position-x: left calc(var(--tab-inline-padding) + var(--icon-size) - 7px) !important;
}

}
}


#tabbrowser-tabs tab-split-view-wrapper {
  & .tabbrowser-tab {
    #tabbrowser-tabs[orient="horizontal"] tab-split-view-wrapper & {
      height: 27px !important;
    }
  }
}
